@import "tailwindcss";

:root {
  --background: #CCCCCC;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: #1F1F1F;
  --color-secondary: #919191;
  --default-font-family: var(--font-bebas-neue);
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: var(--color-background);
  color: var(--color-primary-font);
}